<script type="text/javascript" src="{{ page.prefixo }}assets/js/jquery.js"></script>

<script type="text/javascript" src="{{ page.prefixo }}assets/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{{ page.prefixo }}assets/js/popper.min.js"></script>

<script type="text/javascript" src="{{ page.prefixo }}assets/js/script1.js"></script>

<script type="text/javascript" src="{{ page.prefixo }}assets/js/script2.js"></script>

<script type="text/javascript" src="{{ page.prefixo }}assets/js/script3.js"></script>

<script type="text/javascript" src="{{ page.prefixo }}assets/js/script4.js"></script>

