<div id="home" class="container-fluid full-height">

	<div class="container-w d-flex flex-column align-items-center">
		<div class="logo-big"></div>

		<p class="text-secondary text-center w-50 my-5 line-height letter-spacing">Nasza firma oferuje kompleksowe usługi w dziedzinie wykończenia wnętrze, od projektów i wizualizacji 3D po zrealizowanie projektu pod klucz. Wyręczamy naszych klientów od wszelkich obowiązków związanych z remontem. Naszym zleceniodawcom gwarantujemy zadowolenie i zaoszczedzenie wszelkich stresowych sytuacji wynikających tworzenia nowego wnętrza.</p>

		<button type="button" class="btn bg-primary start-btn">Lets Start</button>
	</div>

</div>